<Configuration>
<SyncPair>
<Source>D:\synctest\source1</Source>
<Target>D:\synctest\dest1</Target>
<!--
<Target>D:\synctest\dest2</Target>
<Filter>*.jpg</Filter>
<ExceptionList>
<Exception>*p234*.txt</Exception>
</ExceptionList>
</SyncPair>
<SyncPair>
<Source>D:\synctest\source2</Source>
<Target>D:\synctest\dest2</Target>
<Filter>*.jpg</Filter>
-->
</SyncPair>
</Configuration>